@import "tailwindcss";

@keyframes spin-slower {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin-slower {
    animation: spin-slower 6s linear infinite;
}